:root {
    --bg-one: #1f4b43;
    --bg-two: #e7c873;
}

img {
    max-width: 100%;
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.hero-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &-info {
            color: var(--bg-one);
            border: 1px solid var(--bg-one);
            border-radius: 40px;
            padding: 15px 25px;
            text-align: center;
            font-weight: 600;
        }
        &-title {
            color: var(--bg-one);
            font-weight: 600;
            font-size: 4rem;
        }
        &-desc {
            color: var(--bg-one);
        }
        &-search {
            position: relative;
            width: 100%;
            input {
                border: none;
                outline: none;
                border-radius: 70px;
                color: #1a1a1a;
                padding: 25px 30px;
                width: 100%;
            }
            button {
                position: absolute;
                right: 5px;
                top: 5px;
                width: 64px;
                height: 64px;
                outline: none;
                border: none;
                background-color: var(--bg-two);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                .icon-search {
                    background-image: url("../img/icon/search.svg");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: block;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        &-tag {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &-link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                background-color: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(5px);
                border-radius: 70px;
                height: 50px;
                padding: 5px;
                .tag-icon {
                    background-color: #ffffff;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                span {
                    color: #ffffff;
                }
            }
        }
    }
}

.work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.product-card {
    position: relative;
    margin-bottom: 1.5rem;
    &-tag {
        position: absolute;
        left: 25px;
        top: 25px;
        display: flex;
        gap: 10px;
        span {
            border-radius: 30px;
            padding: 5px 12px;
            text-transform: uppercase;
            font-weight: 600;
            &.bg-one {
                background-color: var(--bg-one);
                color: #ffffff;
            }
            &.bg-two {
                background-color: var(--bg-two);
                color: #1a1a1a;
            }
        }
    }
    &-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #ffffff;
        position: absolute;
        bottom: 25px;
        left: 25px;
        right: 25px;
        padding: 20px;
        width: calc(100% - 50px);
        border-radius: 8px;
        &-title {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 100%;
            color: #1a1a1a;
        }
        &-location {
            display: flex;
            align-items: center;
            gap: 5px;
            color: #1a1a1a;
            .icon-location {
                background-image: url("../img/icon/location.svg");
                width: 20px;
                height: 20px;
            }
        }
        &-price {
            display: flex;
            align-items: flex-end;
            font-size: 1.1rem;
            color: #eb664e;
            font-weight: 600;
        }
        &-property {
            display: flex;
            align-items: center;
            gap: 5px;
            &:not(:last-child) {
                padding-right: 10px;
                margin-right: 10px;
                border-right: 1px solid #e9e9e9;
            }
            .icon {
                width: 20px;
                height: 20px;
                &-bad {
                    background-image: url("../img/icon/bad.svg");
                }
                &-shower {
                    background-image: url("../img/icon/shower.svg");
                }
                &-square {
                    background-image: url("../img/icon/square.svg");
                }
            }
        }
    }
    &-image {
        img {
            max-width: 100%;
            border-radius: 12px;
        }
    }
}

.find-property-card {
    position: relative;
    &-content {
        background: linear-gradient(180deg, rgba(26, 26, 26, 0.8) 0%, rgba(26, 26, 26, 0.1) 60%, rgba(0, 0, 0, 0) 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 16px;
        padding: 25px;
        span {
            color: #ffffff;
            line-height: 100%;
        }
    }
    img {
        max-width: 100%;
        height: 100%;
        border-radius: 16px;
    }
}
